
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-body {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .form-heading h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container div {
    margin-bottom: 15px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="date"],
  .form-container input[type="password"],
  .form-container select,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-container input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-container textarea {
    resize: vertical;
  }
  
  .form-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-container input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .form-container label {
    font-size: 14px;
    color: #555;
  }
  
  .form-container p {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  
  .form-container .error {
    border-color: #ff0000;
  }
  
  .form-container .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }